<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h1>Hello, Rails!</h1>
<% if manager_signed_in? %>
  <%= link_to 'Edit profile', edit_manager_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_manager_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up as Manager", new_manager_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login as Manager", new_manager_session_path, :class => 'navbar-link'  %> ||
  <%= link_to "Sign up as Developer", new_developer_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login as Developer", new_developer_session_path, :class => 'navbar-link'  %> ||
  <%= link_to "Sign up as QA", new_qa_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login as QA", new_qa_session_path, :class => 'navbar-link'  %>
<% end %>
