<h3>Developer's Site</h3>
<h1>Hi, <%= current_developer.username %> </h1>

<h3>Your Projects</h3>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <% @u_projects.each do |project| %>
    <tbody id="delProj<%= project.id %>">
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Report a bug', project %></td>
        <td><%= link_to 'View Bugs', edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
