
<h3>Assigned Bugs</h3>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% if @dev_p_bugs != nil%>
      <% @dev_p_bugs.each do |bug| %>
      <tbody id="dev_bug_table">
        <tr id="bug_<%= bug.id%>">
          <td><%= bug.title %></td>
          <td><%= bug.project.name %></td>
          <td><%= link_to 'Mark as Resolved', resolve_project_bug_path(@project, bug), remote: true, method: :post, data: { confirm: 'Are you sure?' }   %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<h3>All Bugs</h3>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @d_bugs.each do |bug| %>
    <tbody>
      <tr id="bug_1_<%= bug.id%>">
        <td><%= bug.title %></td>
        <td><%= bug.project.name %></td>
        <td><%= link_to 'Assign Yourself',  assign_dev_project_bug_path(@project, bug), remote: true, method: :post %></td>
        <td><%= link_to 'Mark as Resolved', resolve_project_bug_path(@project, bug), remote: true, method: :post, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
